@charset "utf-8";

html {
    margin: 0;
    padding: 0;
    background-color: gray;
}
body {
    background-color: lightgray;
}
footer {
    background-color: white;
    padding: 0 5px;
}

.AllBodyText {
    padding: 0 10px 0px 10px;
    background-image: url(/images/testbackground.jpg);
    background-attachment: fixed;
    color: white;
}
.Title h1{
    color: gold;
    font-family: "Times New Roman", serif;
    text-align: center;
    background-color: black;
    padding: 10px;
    margin: 0;
    background-image: url(/images/little_icon.png);
    background-attachment: fixed;
}
.PageLink {
    color: white;
    background-color: crimson;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}