.Footer {
    height: 5vh; /* Match padding-bottom from content */
    background: #333;
    color: white;
    margin: 0;
    padding: 1rem 0 1rem 1rem;
    font-family: "Times New Roman", sans-serif;
}