.Logo_Hamburger {
    .hamburger {
        display: none;
        rotate: 90deg;
    }
    @media only screen and (max-width: 800px) {
        .hamburger {
            display: block;
            margin: 1rem 2rem 0 0;
        }
    }
    .page-links {
        z-index: 10;
        position: absolute;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-family: Delius, serif;
        right: 1.7rem;
        top: 1rem;
    }

    .page-links a {
        text-decoration: none;
        display: block; /*Makes entire link area clickable */
        padding:  0;
    }

    .page-links a:hover {
        text-decoration: underline;
        transform: scale(1.05);
    }
    .page-links li {
        flex: 1;
        text-align: center;
    }

    .nav-link {
        text-decoration: none;
        color: var(--active-font-color);
        position: relative;
        z-index: 1;
        transition: color 0.3s ease;
    }
    .oval-background {
        background: var(--active-accent1);
        height: 2rem;
        border-radius: 50px;
        z-index: -1;
        position: absolute;
    }
    #oval-home {
        width: 4.5rem;
        right: 1.2rem;
        top: 0.8rem;
    }
    #oval-experience {
        width: 4.5rem;
        right: 1.2rem;
        top: 3.0rem;
    }
    #oval-portfolio {
        width: 4.5rem;
        right: 1.2rem;
        top: 5.2rem;
    }
    #oval-minigames {
        width: 4.5rem;
        right: 1.2rem;
        top: 7.4rem;
    }
    #oval-contact {
        width: 4.5rem;
        right: 1.2rem;
        top: 9.6rem;
    }
}