.Theme{
    /* container */
    #theme-controls {
        display: inline-block;
        position: relative;
        margin: 1rem 0 0 2rem;
    }

    /* Toggle button */
    #themeToggle {
        transform: scale(1.05);
        background: none;
        color: var(--active-font-color);
        border: none;
        cursor: pointer;
    }
    #themeToggle:hover {
        transform: scale(1.1);
        text-decoration: underline;
    }

    /* Theme buttons container */
    #themeContainer {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        border-radius: 1rem;
        padding: 0 0 0.7rem 1rem;
        margin: 1rem 0 0 0.5rem;
    }

    /* Individual theme buttons */
    .theme-btn {
        border: none;
        border-radius: 40px;
        cursor: pointer;
        transition: transform 0.2s;
    }

    .theme-btn:hover {
        transform: scale(150%);
    }
    .theme-btn {
        cursor: pointer;
        width: 1.75vw;
        height: auto;
        border-color: black;
        border-style: solid;
        border-width: 0.15vw;
    }
}